body {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#notification-container {
  display: none;
  position: absolute; 
  top: 200px; 
  right: 500px; 
  width: auto;
  max-width: 400px;
  background-color: #FFC600;
  color: #07294D;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  padding: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
}


#continue-button {
  background-color: #0033A0;
  color: rgb(255, 224, 10);
  border: 1px solid #4CAF50;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

#continue-button:hover {
  background-color: rgb(255, 204, 0);
  color: #0033A0;
}

#calendar-container {
  margin-left: auto;
}

#addEventButton {
  padding: 5px 20px;
  border: none;
  background-color: #FFC600;
  color: #07294D;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-right: 20px !important;;
  margin-left: 20px !important;;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 40px;
}

#addEventButton:hover {
  background-color: #C69A12;
}

#calendar {
  width: 600px;
  height: 600px;
  margin: 20px;
}

#addEventModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #07294D;
  color: #FFC600;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10001;
}

#eventForm {
  text-align: left;
}

#eventForm label {
  display: block; /* Display labels on separate lines */
  margin-bottom: 5px;
}

#eventForm input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Add a border to the input fields */
  border-radius: 4px; /* Optional: Add rounded corners */
  box-sizing: border-box;
}

#saveEventButton,
#cancelEventButton {
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
}

#saveEventButton:hover,
#cancelEventButton:hover {
  background-color: #FFC600;
}

.delete-event-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 4px;
  background-color: white;
  border: none;
  border-radius: 50%;
  color: #07294D;
  font-size: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.delete-event-button:hover {
  transform: scale(1.1);
}

nav {
  background-color: #07294D;
  padding: 15px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
}

nav .logo img {
  display: block;
  margin-left: 500px;
  margin-right: auto;
  width: 0%;
}

nav .left-buttons a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #07294D;
  background-color: #FFC600;
  border-radius: 5px;
  margin-right: 0 10px;
}

  nav a:hover {
    background-color: #CC9E00;
}

nav .right-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #07294D;
  background-color: #FFC600;
  border-radius: 5px;
  margin-left: auto; /* Pushes the button to the far right */
}

nav .right-button button:hover {
  background-color: #CC9E00;
}

footer {
  background-color: #07294D;
  padding: 10px;
  color: #FFC600;
  text-align: right;
}