<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='fullcalendar-6.1.9/dist/index.global.js') }}"></script>
    <script src="{{ url_for('static', filename='fullcalendar-6.1.9/dist/index.global.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body> 
    <div id="includeNav"></div>
    {% if not current_user.is_authenticated %}
      <div id='notification-container'></div>
    {% endif %}

    <div id='includeTodo'></div>

    <div id='calendar-container'>
      <button id='addEventButton'>Add Event</button>
      <button id='addCourseButton'>Add Course</button>
      
    <!-- Modal for adding events -->
    <div id='addEventModal'>
      <div id='eventForm'>
        <label for='eventName'>Event Name:</label>
        <input type='text' id='eventName' required><br>

        <label for='eventDate'>Event Date:</label>
        <input type='date' id='eventDate' required><br>

        <label for='eventTime'>Event Time:</label>
        <input type='time' id='eventTime' required><br>

        <button id='saveEventButton'>Save Event</button>
        <button id='cancelEventButton'>Cancel</button>
      </div>
    </div>

    <!-- Modal for adding courses -->
    <div id='addCourseModal' class='modal'>
      <div id='courseForm' class='modal-content'>
        <label for='courseName'>Course Name:</label>
        <input type='text' id='courseName' required><br>

        <label for='courseStartDate'>Start Date:</label>
        <input type='date' id='courseStartDate' required><br>

        <label for='courseEndDate'>End Date:</label>
        <input type='date' id='courseEndDate' required><br>

        <label for='courseMeetingTimes'>Meeting Times:</label>
        <input type='text' id='courseMeetingTimes' required><br>

        <button id='saveCourseButton'>Save Course</button>
        <button id='cancelCourseButton'>Cancel</button>
      </div>
    </div>

    <div id='course-section'>
          <h2>My Courses</h2>
      </div>

    <div id='course-container'></div>
    <div id='calendar'></div>
    </div>

    <footer>
      <a href="https://drexel.edu/">Go to Drexel's homepage</a>
      <a href="https://drexel.edu/counselingandhealth/counseling-center/overview/">Access mental health resources</a>
    </footer>

    <script>
      $(function() {
        $("#includeNav").load("{{ url_for('navbar') }}");
      });
      $(function() {
        $("#includeTodo").load("{{ url_for('todo') }}");
      });
    </script>
  </body>
</html>
