<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <form method="POST" action="{{ url_for('login') }}" class="form" id="login">
            <h1 class="form_title">Login</h1>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                    {% for category, message in messages %}
                        <p class="flash-{{ category }}">{{ message }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <!-- Form input group for username -->
            <div class="form_input_group">
                <input type="text" id="username" name="username" class="form_input" autofocus placeholder="Username or Email" required>
                <div class="form_input_error_message"></div>
            </div>

            <!-- Form input group for password -->
            <div class="form_input_group">
                <input type="password" id="password" name="password" class="form_input" autofocus placeholder="Password" required>
                <div class="form_input_error_message"></div>
            </div>

            <!-- Form submission button -->
            <button class="form_button" type="submit">Login</button>

            <!-- Additional form text or links can be added here if needed -->
            <p class="form_text">
                <a href="{{ url_for('register') }}" class="form_link">Don't have an account? Sign up here.</a>
            </p>
        </form>
    </div>
</body>
</html>
