<!DOCTYPE html>
<html lang='en'> 
    <head>
    <meta charset='utf-8' />
    <title>Drexel Planner Lifestyle</title>
    <nav>
      <a href="./index.html">Home</a>
      <a href="./tester.html">tester</a>
    </nav>
    <body>
    <h1>Drexel Lifestyle Page</h1>
    <p>This webpage is designed to spread happiness and cuteness all around!</p>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fdrexel.edu%2Fidentity%2Fweb%2Flogotypes%2F&psig=AOvVaw1vCAXKYZ4CFAx8oYOicW1Z&ust=1708028174530000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCKDJt_bSq4QDFQAAAAAdAAAAABAI" alt="Cute Image">
    <p>Isn't it adorable?</p>
    </body>
