<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/todo.css') }}">
<script src="{{ url_for('static', filename='js/todo.js') }}"></script>
</head>
<body>
  <div id="myTODO" class="todo">
    <div id="myDIV" class="header">
      <h2 style="margin:5px">To Do</h2>
      <input type="text" id="myInput" placeholder="To do...">
      <div class="course-dropdown">
        <select id="courseSelect">
          <option value="" disabled selected>(Optional) Select a course</option>
          {% for course in current_user.courses %}
            <option value="{{ course.id }}">{{ course.name }}</option>
          {% endfor %}
        </select>
      </div>
      <span onclick="newElement()" class="addBtn">Add</span>
    </div>

    <ul id="myUL" ondrop="handleDrop(event)" ondragover="handleDragOver(event)">
      {% if not current_user.is_authenticated %}
        <li class="draggable">Example #1</li>
        <li class="draggable checked">Example #2</li>
      {% endif %}
    </ul>
  </div>
</body>
</html>
